<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boleta de notas</title>
</head>
<body>
    <div>
        <h2>Boleta de notas</h2>
        <p>Codigo : {{ codigo }}</p>
        <p>Nombre : {{ nombre }}</p>
        <p>Curso : {{ curso }}</p>
        <p>Ex.Parcial : {{ parcial }}</p>
        <p>Ex.Final : {{ final }}</p>
        <p>Practicas : {{ practica }}</p>
        <p>Promedio : {{ promedio }}</p>
        <p>Estado : {{ estado }}</p>
        <br>
        <a href="{% url 'registrar' %}">Nuevo alumno</a>
    </div>
</body>
</html>